@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f8fa;
  --foreground: #333333;
  --primary: #0070f3;
  --secondary: #1c1c1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #eaeaea;
    --primary: #0070f3;
    --secondary: #f5f8fa;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.white-svg {
  filter: brightness(0) invert(1);
}